:root {
  --yss-core: #ef4923;
  --yss-infants: #53c2c3;
  --yss-kids: #af4296;
  --yss-teen-young-adults: #548c31;
  --yss-community: #ed4a2e;
  --yss-dark-gray: #262626;
  --yss-med-gray: #808080;
  --yss-light-gray: #808080;
}

.yss-color-core {
  color: var(--yss-core) !important;
}

.yss-color-infants {
  color: var(--yss-infants) !important;
}

.yss-color-kids {
  color: var(--yss-kids) !important;
}

.yss-color-teen-young-adults {
  color: var(--yss-teen-young-adults) !important;
}

.yss-color-community {
  color: var(--yss-community) !important;
}

.yss-color-dark-gray {
  color: var(--yss-dark-gray) !important;
}

.yss-color-med-gray {
  color: var(--yss-med-gray) !important;
}

.yss-color-light-gray {
  color: var(--yss-light-gray) !important;
}

.yss-bg-color-core {
  background-color: var(--yss-core) !important;
}

.yss-bg-color-infants {
  background-color: var(--yss-infants) !important;
}

.yss-bg-color-kids {
  background-color: var(--yss-kids) !important;
}

.yss-bg-color-teen-young-adults {
  background-color: var(--yss-teen-young-adults) !important;
}

.yss-bg-color-community {
  background-color: var(--yss-community) !important;
}

.yss-bg-color-dark-gray {
  background-color: var(--yss-dark-gray) !important;
}

.yss-bg-color-med-gray {
  background-color: var(--yss-med-gray) !important;
}

.yss-bg-color-light-gray {
  background-color: var(--yss-light-gray) !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(white);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(white);
}

.navbar .navbar-item a {
  color: var(--yss-dark-gray);
  transition-duration: 0.2s;
  text-decoration-color: white;
  transition: transform 0.2s;
}
.navbar .navbar-item a:hover {
  transform: scale(1.1);
}
.navbar .navbar-item a:active {
  color: var(--yss-core);
}

.navbar {
  background-color: rgb(200, 200, 200);
}

.navbar-dropdown,
.navbar-dropdown a {
  background-color: #eee !important;
}

.button {
  background-color: var(--yss-core) !important;
  color: #ffffff !important;
  display: block;
  margin-right: 15rem;
  margin-left: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar .navbar-item.styled-link a,
.styled-link {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--yss-core);
  background-color: inherit;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  color: inherit;
  text-decoration-skip-ink: none;
}

* {
  box-sizing: border-box;
}

/* Hack to force navbar logos to have the correct cursor */
.navbar-brand .navbar-item div img:hover {
  cursor: pointer;
}

.bg-contrast-yss-core {
  background-color: #0f2666 !important;
}

.card-border-contrast-yss-core {
  border-style: solid;
  border-color: #0f2666 !important;
  border-width: 0 0.5rem 0.5rem 0.5rem;
}

/* Scale up the card on hover so it looks cool */
.card {
  scale: 100%;
  transition: scale 0.5s;
}

.card:hover {
  scale: 102%;
}

.selectable:hover {
  cursor: pointer;
}

/* REACT CALENDAR */
.react-calendar {
  margin: 0 auto;
  font-size: 1rem !important;
  border-radius: 4px;
  width: 80% !important;
  max-width: 500px !important;
  overflow: hidden;
}

.react-calendar button {
  font-size: 1rem;
}

button.react-calendar__navigation__label {
  background-color: #fff !important;
  color: #000 !important;
}

@media screen and (min-width: 1007px) {
  .navbar-dropdown {
    margin-top: -40px;
  }
}
